[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
SQLAlchemy = "*"
python-dotenv = "*"
python-jose = "*"
pytest = "*"
requests = "*"
PyJWT = "*"
jwt = "*"
starlette = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.fastapi]
extras = [ "testclient",]
version = "*"
