[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["testclient"], version = "*"}
uvicorn = "*"
sqlalchemy = "*"
psycopg2 = "*"
python-dotenv = "*"
python-jose = "*"
pytest = "*"
requests = "*"
pyjwt = "*"
jwt = "*"
starlette = "*"

[dev-packages]

[requires]
python_version = "3.8"
