@import './Customise';
@import './LoginPage';
@import './NavBar';
@import './ListsAndGrids';

body {
  margin: 0;
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.App {
  padding: 1rem 1.5rem;
}

// The following are breaking points template

// x-large devices, large desktops
@media (max-width: 1399.98px) {

}

// large devices, desktops
@media (max-width: 1199.98px) {

}
// medium device, tablets
@media (max-width: 991.98px) {

}
// small devices, landscape phones
@media (max-width: 767.98px) {

}
// x-small devices, portrait phones
@media (max-width: 575.98px) {	

}


// This must be placed at last or else the UI library will not be imported correctly
// guide on using Bootstrap https://getbootstrap.com/

@import '~bootstrap/scss/bootstrap.scss';

// end of App.scss file